:root {
  // general
  --winauto-action: #3876fa;
  --winauto-bg: white;
  --winauto-bg--hover: #eeeeee;
  --winauto-contrast: black;
  --winauto-contrast-alt: rgb(119, 119, 119);
  --winauto-border: #ccc;
  --winauto-border-alt: #f1f1f1;
  --winauto-danger: #f00;
}

#winden-autocomplete {
  display: flex;
  flex-direction: column;
  position: relative;
}

#windauto--screens {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

@import "_tailwind-utility.scss";
@import "_winauto-toggle.scss";
@import "_winauto-textarea.scss";
@import "_winauto-dropdown.scss";