// ***************************************************************************
// Textarea
// ***************************************************************************

.winauto-textarea {
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  padding: 4px;
  border-radius: 2px;
  outline: 1px solid var(--winauto-contrast);
}

// ***************************************************************************
// Tag Item
// ***************************************************************************

.winauto-textarea--item {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0 4px;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: #f1f1f1;

  &:hover {
    background-color: white;
    border: 1px solid var(--winauto-border-alt);
  }

  cursor: pointer;

  &.focused {
    outline: 1.5px solid var(--winauto-action);
  }
}

// ***************************************************************************
// Tag Item - Editing
// ***************************************************************************

.winauto-textarea--item_editing {
  display: inline-block;
  padding: 2px;
  //   border: 1px solid var(--winauto-action);
  outline: 1px solid var(--winauto-action);
  outline-offset: 2px;
}

// ***************************************************************************
// Tag Item - Remove
// ***************************************************************************

.winauto-textarea--item_remove {
  color: var(--winauto-contrast-alt);
  opacity: 0.5;
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  cursor: pointer;

  &:hover {
    transform: scale(1.5);
    color: var(--winauto-danger);
    opacity: 1;
  }
}

// ***************************************************************************
// Title
// ***************************************************************************

.winauto-textarea--title {
  font-size: 10px !important;
  text-transform: uppercase;
  margin-bottom: 4px;
}
